<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hello, world</title>
  </head>
  <body>
    <header>
      <h3>This is my site</h3>

      <ul>
        <li>Knapp 1</li>
        <li>Knapp 2</li>
        <li>Knapp 3</li>
      </ul>
    </header>

    {{{ body }}}
  </body>
</html>
